.head {
    font-size: 19px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    }
    
img {
    width: 200px;
    margin-left: 15px;
    margin-top: 15PX;
    display: block;
    border: 2px solid;
    border-radius: 10px;
    position: static ;
}

.box {
    width: 230px;
    height: 370px;
    border: 1px solid;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    position: static;
}

body {
    background-color: hsl(220, 15%, 55%);
    background-color: hsl(212, 45%, 89%);
    flex-wrap: wrap;
}

.par {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}